body {
  color: #fff;
  background-color: #111a28;
}

.main-header {
  /* position:relative; */
  top: 0;
  left: 0;
  width: 100%;
  height: 100px;
  background-color: #111a28;
  color: #fff;
  z-index: 1000;
}

.icon {
  display: none;
}

.main-head-block {
  display: flex;
}

.nav-elements ul {
  display: flex;
  list-style: none;
}

.nav-elements {
  margin-left: 20%;
}

.nav-elements ul li {
  margin-right: 50px;
}

.nav-elements ul li a {
  text-decoration: none;
  color: #fff;
}

.logo {
  max-height: 70px;
  margin-left: 220px;
}

/* this is the code for the media icons */
.media-class ul {
  list-style: none;
}

.media-class li {
  margin-bottom: 10px;
}

.malik {
  border: 3px solid green;
  border-radius: 45px;
  transition: all 0.5 ease-in-out;
}

.malik:hover {
  border: 3px solid rgb(0, 0, 128);
}


/* for the about section  */
.about-flex {
  display: flex;
}

/*  */
.about-catainer ul {
  display: flex;
  list-style: none;
  padding: 0;
  margin-top: -35px;
}

.about-catainer li {
  margin-right: 10px;
}

/* Customize the list marker (dot) */
.about-catainer li:not(:first-child)::before {
  content: '\2022';
  color: green;
  font-size: 1.7em;
  margin-right: 5px;
}

.about-catainer ul li:first-child {
  display: flex;
  list-style: none;
  padding: 0;
  margin-top: 10px;
}

.image {
  width: 300px;
  height: 300px;
  margin-top: 10px;
  border-radius: 300px;
}

.about-catainer {
  margin-left: -60px;
}

.About-Me-cantainer {
  margin: 200px;
  margin-top: 300px;
}

.profile {
  width: 400px;
  height: 400px;
  border-radius: 300px;
  margin-left: 50px;
}
.skill{
  margin-left: 200px;
  max-width: 520px;
}




/* to make the responsive  */
@media (max-width: 600px) {

  .logo {
    max-height: 70px;
    margin-left: 10px;
  }

  .icon {
    display: block;
    cursor: pointer;
    margin-left: 255px;
  }

  .nav-elements {
    position: absolute;
    right: 0;
    width: 0;
    top: 60px;
    transition: all 0.3s ease-in;
    overflow: hidden;
  }

  .nav-elements.active {
    width: 300px;
    background-color: #111a28;
  }

  .nav-elements ul {
    display: flex;
    flex-direction: column;
  }

  .nav-elements ul li {
    margin: 10px;
  }

  .media-class ul {
    display: flex;
  }

  .media-class li {
    margin-left: 30px;
  }

  .about-catainer {
    margin-left: 30px;
  }

  .image {
    margin-left: 50px;
  }

  .About-Me-cantainer {
    margin: 25px;
    margin-top: 100px;
  }

  .profile {
    width: 382px;
    height: 380px;
    border-radius: 300px;
    margin-left: -5px;
    margin-right: 33px;
}
.skill{
  margin-left: 0px;
  max-width: 520px;
}




}