/* Define the main color */
:root {
    --main-color: rgb(3, 3, 37);
  }
  
  /* .project class */
  .project {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  /* .project-box class */
  .project-box {
    height: 500px;
  }
  
  /* Unordered list */
  .project ul {
    margin: 10px;
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: center;
  }
  
  /* List items */
  .project ul li {
    border: solid 2px #00e9ff;
    border-radius: 10px;
  }
  
  /* .Box1 class */
  .project .Box1 {
    cursor: pointer;
  }
  
  /* .image class */
  .project .Box1 .image {
    z-index: 1;
  }
  

  /*  here is the code to show the hover effect   */

  /* Heading and title */
  .project .Box1 h3,
  .project .Box1 .title {
    opacity: 0;
  } 
  
  /* Hover effect */
  .project .Box1:hover {
    background-color: var(--main-color);
  }
  
  .project .Box1:hover .image {
    opacity: 0.2;
    z-index: 0;
  }
  
  .project .Box1:hover h3 {
    opacity: 1;
    z-index: 1;
    color: rgb(255, 255, 255);
  }
  
  .project .Box1:hover .title {
    opacity: 1;
    z-index: 1;
  }
  
  /* .box class */
  .project .box {
    /* gap: 1.75rem; */
  }
  