@import "../global.scss";

.portfoliolist {
  font-size: 14px;
  margin: 0px 23px;
  padding: 7px;
  font-weight: 700;
  border-radius: 10px;
  cursor: pointer;
  overflow: hidden;
}

.portfoliolist li {
  justify-content: center;
  align-items: center;
}

/* Media query for mobile */
@media screen and (max-width: 768px) {
  .portfoliolist {
    margin: auto;
  }
}

.portfoliolist.active {
  background-color: #398485;
  color: white;
}
